@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.h2-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #444444;
}

main {
    padding: 50px;
}

body {
    background-color: #ECECEC;
}

.tag-forum {
    font-size: 15px;
    background-color: #0B2E4647;
    color: white;
    padding: 1px 5px;
    border-radius: 2px; /* Arredondamento dos cantos */
    display: inline-block; /* Faz com que a div ocupe apenas o espaço necessário */
    margin-bottom: 10px; /* Reduzir o espaçamento entre a data e a tag */
}

.curtidas-forum {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #6B6B6B;
    margin-right: 15px;
}

.respostas-forum {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #6B6B6B;
}

.curtidas-respostas {
    display: flex;
}

.botao-curtir {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28.13px;
    padding: 1px 5px;
    border-radius: 2px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    color: #0B2E46;
    font: #353535;
    margin-right: 25px;
}

.botao-responder {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28.13px;
    padding: 1px 5px;
    border-radius: 2px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    color: #0B2E46;
    font: #353535;
    font: #353535;
}

.ul-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.data-forum{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #6B6B6B;
    margin-top: -3px;
    margin-bottom: -0.5rem;
}

.card-title {
    font-size: 32px;
    color: #4A4A4A;
}

.card-text {
    font-size: 20px;
    color: #4A4A4A;
}

.grupo-h2-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-adicionar-forum {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #13527C;
    border-radius: 3px;
}

.btn-adicionar-forum:hover {
    background-color: #0B2E46 ; /* Define a cor de fundo quando o mouse passar por cima */
    color: #ffffff ; /* Define a cor do texto quando o mouse passar por cima */
}

.sem-resultados-filtro {
    margin-top: 30px;
    font-size: 20px;
    color: #4A4A4A;
}